.bottom-cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 90px 0;
}
 
.bottom-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.bottom-cta div {
    display: flex;
    justify-content: center;
}

.bottom-cta h3 {
    font-family: 'Lora';
    font-size: 36px;
    font-weight: 300;
    color: #FA4616;
    text-align: center;
}

@media (max-width: 768px) {
    .bottom-cta h3 {
        font-size: 30px;
    }
}

.bottom-cta button {
    padding: 10px 19px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: #FA4616; 
    border-radius: 50px;
    transition: all 0.3s ease;
}

.bottom-cta button:hover {
    background-color: #ff5e30; 
    transform: translateY(-2px); 
}

.bottom-cta button:active {
    transform: translateY(0); 
}